@font-face {
   font-family: opensansemoji;
   src: url("/fonts/opensansemoji.ttf");
}

.error {
    color: #ff0000;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(207, 0, 15, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(236, 100, 75, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(207, 0, 15, 1);
    background-color: rgba(236, 100, 75, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(207, 0, 15, 1);
    background-color: rgba(239, 72, 54, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(207, 0, 15, 1);
    background-color: rgba(236, 100, 75, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ec644b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ec644b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ec644b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ec644b;
}






button.btn.btn-lg.btn-primary {
    background-color: CF000F;
    border-color: CF000F;
}

div.col-lg-12.text-center.v-center {
    background-color: D64541;
    padding-bottom: 50px;
    padding-top: 52px;
}

input.form-control.input-lg {
    background-color: F1A9A0;
    border-color: F1A9A0;
}

img {
    width: 100%;
}

div.col-sm-3 center {
    background-color: #ffffff;
}

div.edit {
    color: #b3b3b3;
}

center h1 a {
    color: #0f0f0f;
    font-family: monospace;
    letter-spacing: -2px;
}
/* you found an eggie!*/
/* flag is c$$h@k3r */
div.col-sm-3 center img {
    border-radius: 75px;
}

h2.lang {
    background-color: #ffffff;
    font-size: 150%;
}

div.col-sm-9 center h2 {
    font-family: Helvetica;
}

textarea.form-control {
    height: 125px;
}

div.col-sm-12.col-md-11 textarea {
    width: 100%;
    height: 10%;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    background-color: #fff7f7;
    font-size: 150%;
    padding-left: 10px;
    padding-top: 5px;
}

div.col-md-1 input {
    width: 100%;
    height: 10%;
    background-color: #ff7575;
    color: #000000;
    font-size: 125%;
    font-family: Helvetica;
}

div.col-sm-12.col-md-11 {
    padding-right: 1px;
}

div.username {
    font-weight: bold;
}

div.col-xs-12 {
    background-color: #f0f0f0;
}

div.row {
    background-color: #d1d1d1;
}

div.content {
}

div.col-sm-9 {
    background-color: #e0e0e0;
    overflow-y: auto;
    height: 80%;
}

div.col-sm-3 center {
    background-color: #d1d1d1;
}

body {
    background-color: #d1d1d1;
}

html body hr {
    background-color: #000000;
    color: #000000;
    border-color: #000000;
}
